/* font-family: 'Aguafina Script', cursive;
font-family: 'Italianno', cursive;
font-family: 'Norican', cursive;
font-family: 'Quintessential', cursive */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.page1{
    width: 100%;
    height: 100%;
    background-color: rgb(228, 213, 183);
}

.fullscreen{
    height: 100%;
    width: 100%;
    background-color: #eee;
    position: absolute;
    top: -100%;
    z-index: 99;
    background-color: #DADADA;
    opacity: 0.7;
    transition: all ease 1s;
}

.fullscreen ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 15vmax;
    margin-left: 3vmax;
    z-index: 99;
text-decoration: none;
}

.fullscreen ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Henny Penny', cursive;

}

.fullscreen ul li a:hover{
    transition: all ease 0.3;
    color: red;
    text-decoration: overline;
}

.fullscreen li{
    font-size: 5vmax;
    list-style-type: none;
    text-align: center;

}

@media (max-width:600px) {
    .full-screen{
        height: 100%;
        width: 100%;
        background-color: #eee;
        position: absolute;
        top: -200%;
        background-color: red;
        transition: all ease 1s;
    }
}

.nav{
    width: 100%;
    height: 9%;
    z-index: 999;
    position: fixed;
    display: flex;
    padding: 1vmax 4vmax;
    justify-content: space-between;
    background-color: #dadada;
}

.nav img{
margin-top: -0.8vmax;
width: 10%;
height: 200%;
    
}


.nav ul{
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
}

.nav ul h3 i{
    font-size: 2vmax;
     margin-top: -0.4vmax;
     display: none;
}

.nav ul li a{
    color: black;
    font-size: 1.3vmax;
    text-decoration: none;
    font-family: 'Noto Sans Linear B', sans-serif;
    display: initial;
}

.nav ul li a:hover{
    cursor: pointer;
    color: red;
    transition: all .3sec;
}

@media (max-width:600px) {

    .nav{
        width: 100%;
        height: 7%;
        z-index: 999;
        position: fixed;
        display: flex;
        padding: 1vmax 4vmax;
        justify-content: space-between;
        background-color: #dadada;
    }

    .nav img{
        margin-top: -3.5vmax;
   width: 20%;
   height: 200%;
       /* background-color: red; */
   }


    .nav ul li{
        display: none;
    }

    .nav ul h3 i{
        font-size: 4vmax;
         margin-top: 1vmax;
         display: initial;
    }

}



/* ================nav endd============ */

.picture1{
    width: 100%;
    height: 100%;
    background-color: seagreen;
}

.picture1 img{
    width: 100%;
    height: 100%;
    margin-top: 4vmax;
}

@media (max-width:600px) {

    .page1{
        width: 100%;
        height: 40%;
        background-color: rgb(228, 213, 183);
    }

    .picture1{
        width: 100%;
        height: 100%;
        background-color: seagreen;
    }


    .picture1 img{
        width: 100%;
        height: 100%;
    }
}

/* =============page1 end================= */

.page2{
    width: 100%;
    height: 100%;
    display: flex;
justify-content: space-evenly;
background-color: #dadada;
    /* background-color: salmon; */
}

.leftp{
    width: 30%;
    height: 90%;
    display: flex;
    margin-top: 4.5vmax;
align-items: center;
background-image: url(https://images.unsplash.com/photo-1619635163862-c894c070b671?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1885&q=80);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
    background-color: yellow;
}

.yupp{
    width: 90%;
    height: 90%;
    background-image: url(https://images.unsplash.com/photo-1519741196428-6a2175fa2557?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin-left: 8vmax;
    position: relative;
    left: 10%;
    background-color: violet;
}

.rightp{
    width: 50%;
    height: 100%;
    margin-top: 5vmax;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: sienna; */
}

.rightp p{
    font-size: 1vmax;
    line-height: 4vmax;
    text-align: center;
    font-family: 'Orbit', sans-serif;
}

.rightp h1{
    font-size: 8vmax;
    line-height: 8vmax;
    text-align: center;
    color: rgba(160, 81, 45, 0.881);
     font-family: 'Norican', cursive;
}

@media (max-width:600px) {

    .page2{
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    justify-content: space-evenly;
    background-color: #dadada;
        /* background-color: salmon; */
    }

    .yupp{
        width: 100%;
        height: 85%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        margin-left: 4vmax;
        position: relative;
        left: 22%;
    }

    .leftp{
        width: 45%;
        height: 100%;
    }

    .rightp p{
        font-size: 1.8vmax;
        line-height: 4vmax;
        text-align: center;
        font-family: 'Orbit', sans-serif;
    }
    
}

/* ================page 2======================= */

.page3{
    width: 80%;
    height: 15%;
    margin-top: 2vmax;
    margin-left: 9vmax;
    display: flex;
    border: 2px solid rgba(117, 113, 113, 0.473);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.4;
    background-color: rgba(226, 209, 209, 0.701);
}

.page3 p{
    text-align: center;
    color: black;
    font-size: 1.5vmax;
}

.page3 span button{
align-items: center;
padding: 0.4vmax 3.5vmax;
}


@media (max-width:600px){
    .page3{
        width: 80%;
        height: 12%;
        margin-top: 2vmax;
        margin-left: 6vmax;
        display: flex;
        border: 2px solid rgba(117, 113, 113, 0.473);
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0.7;
        background-color: rgba(226, 209, 209, 0.701);
    }

    .page3 p{
        text-align: center;
        color: black;
        font-size: 2.5vmax;
    }
    
    .page3 span button{
    align-items: center;
    padding: 0.4vmax 3vmax;
    }
}

/* ==================page4 end ================== */

.page4{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vmax;
    background-color: #dadada;
}

.text{
    width: 40%;
    height: 100%;
    /* background-color: red; */
}

.text h1{
    font-size: 6vmax;
    text-align: center;
    margin-top: 4vmax;
    font-family: 'Quintessential', cursive;
}



.text-line{
    width: 30%;
    height: 100%;
display: flex;  
flex-direction: column;
justify-content: center;
    /* background-color: seagreen; */
}

.text-line h1{
    font-size: 3vmax;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid black;
    font-family: 'Italianno', cursive;
}

@media (max-width:600px){
    .page4{
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* margin-top: 6vmax; */
        background-color: #dadada;
        /* background-color: red; */
    }   

    .text{
        width: 100%;
        height: 100%;
        /* background-color: red; */
    }

    .text-line{
        width: 40%;
        height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
            margin-bottom: 2vmax;
        /* background-color: seagreen; */
    }

    .text-line h1{
        font-size: 3.5vmax;
        width: 80%;
        text-align: center;
        border-bottom: 2px solid black;
        font-family: 'Italianno', cursive;
        /* background-color: darkblue; */
    }
}


/* =============page4 end=============== */

.page5{
    width: 100%;
    height: 30%;
    line-height: 4vmax;
    background-color: #dadada;
}

.page5 p{
    font-size: 1vmax;
    text-align: center;
    font-family: 'Orbit', sans-serif;
}

.page5 h1{
    font-size: 8vmax;
    text-align: center;
    color: rgba(160, 81, 45, 0.881);
    font-family: 'Norican', cursive;
}

@media (max-width:600px){
    .page5{
        width: 100%;
        height: 15%;
        line-height: 4vmax;
        background-color: #dadada;
        /* background-color: rebeccapurple; */
    }

    .page5 p{
        font-size: 2vmax;
        text-align: center;
        font-family: 'Orbit', sans-serif;
    }

    .page5 h1{
        font-size: 7vmax;
        text-align: center;
        color: rgba(160, 81, 45, 0.881);
        font-family: 'Norican', cursive;
    }

}

/* =============page5 end================ */

.page6{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
background-color: #DADADA;
}

.gallery{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: blue; */
}

.pics1{
    width: 25%;
    height: 100%;
    border: 4px solid black;
    box-shadow: 3px 5px 6px black;
    background-color: yellowgreen;
}

.pics1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.pics1 img:hover{
    /* transform: scale(1.1); */
    border-top: 1vmax solid salmon;
    border-right: 1vmax solid salmon;
}


 .page6 span button{
    padding: 0.5vmax 1.5vmax;
    background-color: goldenrod;
    color: white;
}

@media (max-width:600px){
    .page6{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    background-color: #DADADA;
    /* background-color: red; */
    }

    .gallery{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        /* background-color: blue; */
    }

    .pics1{
        width: 30%;
        height: 100%;
        border: 2px solid black;
        box-shadow: 3px 5px 6px black;
        background-color: yellowgreen;
    }

    .pics1 img:hover{
        /* transform: scale(1.1); */
        border-top: 1vmax solid salmon;
        border-right: 1vmax solid salmon;
    }
    
    
     .page6 span button{
        padding: 0.5vmax 1.5vmax;
        background-color: goldenrod;
        color: white;
    }

}


/* ============page6 end======================= */

.page7{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    background-color: #DADADA;
}

.left{
    width: 40%;
    height: 100%;
    /* background-color: tomato; */
}

.left h1{
    font-size: 8.5vmax;
    line-height: 7vmax;
    margin-top: 3vmax;
    color: rgba(49, 47, 46, 0.851);
    font-family: 'Quintessential', cursive;
}

.left h2{
    text-align: center;
    font-size: 1.5vmax;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.614);
}

.left h3{
    font-size: 1.2vmax;
    text-align: center;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.533);
    margin-top: 3vmax;
    font-family: 'Norican', cursive;
letter-spacing: 1px;
}

.left p{
    font-size: 1vmax;
    margin-top: 1.5vmax;

}


.right{
    width: 40%;
    height: 97%;
    display: flex;
    margin-top: 1vmax;
justify-content: center;
    align-items: center;
    background-color: rgba(152, 130, 89, 0.962);
}

.photu{
    width: 50%;
    height: 90%;
    background-image: url(https://images.unsplash.com/photo-1550155864-3033f844da36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
object-fit: cover;
    background-color: seagreen;
}

@media (max-width:600px){
    .page7{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        background-color: #DADADA;
        /* background-color: saddlebrown; */
    }

    .right{
        width: 60%;
        height: 100%;
        background-color: rgba(152, 130, 89, 0.962);
    }

    .photu{
        width: 90%;
        height: 90%;
        }

        .left{
            width: 70%;
            height: 90%;
            /* background-color: tomato; */
        }
        

    .left h1{
        width: 80%;
        font-size: 6vmax;
        line-height: 4.8vmax;
        margin-top: 3vmax;
        color: rgba(49, 47, 46, 0.851);
        font-family: 'Quintessential', cursive;
    }
    
    .left h2{
        text-align: center;
        font-size: 1.6vmax;
        font-weight: 100;
        color: rgba(0, 0, 0, 0.614);
    }

    
.left p{
    font-size: 1.2vmax;
    font-weight: 100;
    margin-top: 1.5vmax;

}

    .left h3{
        font-size: 1.3vmax;
        text-align: center;
        font-weight: 100;
        color: rgba(0, 0, 0, 0.533);
        margin-top: 2vmax;
        margin-left: 5vmax;
        font-family: 'Norican', cursive;
    letter-spacing: 1px;
    }

}


/* =================page7 end=================== */

.page8{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c4916b;
}

.divvv{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: salmon; */
}

.divvv img{
    width: 8%;
    height: 30%;

}

.ulta{
    width: 20%;
    height: 80%;
    background-image: url(https://images.unsplash.com/photo-1560439972-a9f468a21f2a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 12px 15px 16px black;
        background-color: violet;
}

.ulta h1{
    font-size: 4vmax;
    color: white;
    margin-top: 27.3vmax;
    text-align: start;
    /* font-family: 'Euphoria Script', cursive; */
font-family: 'Great Vibes', cursive;
font-weight: 100;
}

.sidha{
    width: 20%;
    height: 80%;
    background-image: url(https://images.unsplash.com/photo-1570212773364-e30cd076539e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 10px 15px 18px black;
    background-color: violet;
}

.sidha h1{
     font-size: 4vmax;
    color: white;
    margin-top: 27.5vmax;
    text-align: start;
    font-weight: 100;
    font-family: 'Great Vibes', cursive;

}

.head2{
    width: 100%;
    height: 10%;
    background-color: red;
}

@media (max-width:600px){
    .page8{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #c4916b;
    }

    .ulta{
        width: 35%;
        height: 70%;
    }

    .ulta h1{
    font-size: 4vmax;
    margin-top: 25.5vmax;
font-family: 'Great Vibes', cursive;
font-weight: 100;
}

    .sidha{
        width: 35%;
        height: 70%;
    }

    .sidha h1{
        font-size: 4vmax;
       color: white;
       margin-top: 26vmax;
       text-align: start;
       font-weight: 100;
       font-family: 'Great Vibes', cursive;
   
   }

    .divvv img{
        width: 12%;
        height: 30%;
    
    }

    /* .divvv{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: salmon;
    } */

}



/* =============page8 end================ */

.page9{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(244, 235, 218);
}

.h1-head{
    width: 20%;
    height: 90%;
    /* background-color: blue; */
}

.h1-head h1{
        font-family: 'Quintessential', cursive;
font-size: 5.5vmax;
margin-top: 0.5vmax;
line-height: 5.5vmax;
}

.para{
    width: 70%;
    height: 90%;
    /* background-color: seagreen; */
}

.para p{
        margin-top: 2vmax;
    color: rgba(0, 0, 0, 0.807);
    font-size: 1vmax;
}

@media (max-width:600px){
    .page9{
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: red; */
        background-color: rgb(244, 235, 218);
    }

    .h1-head{
        width: 20%;
        height: 90%;
        /* background-color: blue; */
    }
    
    .h1-head h1{
            font-family: 'Quintessential', cursive;
    font-size: 4vmax;
    margin-top: 0.5vmax;
    line-height: 5.5vmax;
    }
}


/* ===============page9 end-================== */

.page10{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    background-color: rgb(244, 235, 218);
    /* background-color: chocolate; */
}

.paragraph{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: cyan; */
}

.h2-head{
    width: 30%;
    height: 90%;
    /* background-color: yellowgreen; */
}

.h2-head h1{
    font-size: 6vmax;
    line-height: 6vmax;
    margin-left: 3vmax;
    margin-top: 1vmax;
    font-weight: 300;
            font-family: 'Quintessential', cursive;

}

@media (max-width:600px){
    .page10{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        background-color: rgb(244, 235, 218);
        /* background-color: chocolate; */
    }

    .paragraph{
        width: 60%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: cyan; */
    }


    .quotes{
/* margin-top: -2vmax; */
font-size: 1.2vmax;
    }

    .quotes2{
        margin-top: 5vmax;
        font-size: 1.2vmax; 
    }

    .h2-head{
        width: 25%;
        height: 70%;
        /* background-color: yellowgreen; */
    }
    
    .h2-head h1{
        font-size: 4vmax;
        line-height: 6vmax;
        margin-left: 3vmax;
        margin-top: 1vmax;
        font-weight: 300;
                font-family: 'Quintessential', cursive;
    
    }
}


/* =================page10 end ============= */

.page11{
    width: 100%;
    height: 80%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 235, 218) ;
}

.bg-pic{
    width: 65%;
    height: 90%;
    border: 3px solid black;
    box-shadow: 13px 12px 18px green;
    background-image: url(https://images.unsplash.com/photo-1505428215601-90f0007b9e83?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-color: red;

}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-pic img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.day{
    width: 12%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid black;
    /* background-color: slateblue; */
}

.dyc{
    width: 10%;
    height: 20%;
}

.dyc h1{
    margin-left: 1vmax;
    line-height: 2vmax;
    font-weight: 300;
    font-family: 'Charm', cursive;
}

.dyc p{
    margin-left: 1vmax;
    font-family: 'Charm', cursive;
}

.bg-pic h1{
    font-size: 8vmax;
    color: white;
padding: 3vmax 2vmax;
    font-weight: 100;
    font-family: 'Charm', cursive;
    line-height: 4vmax;

}

.bg-pic p{
    color: rgba(255, 255, 255, 0.618);
    padding: 1.2vmax 2.3vmax;
        font-weight: 100;
}

@media (max-width:600px){
    .page11{
        width: 100%;
        height: 37%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: salmon; */
        background-color: rgb(244, 235, 218) ;
    }

    .bg-pic{
        width: 90%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid black;
        box-shadow: 13px 12px 18px green;
      }

      .day{
        width: 100%;
        margin-top: 1.5vmax;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* background-color: yellow; */
      }
      
      .bg-pic h1{
          font-size: 4.5vmax;
      }
  
      .bg-pic p{
              font-size: 1vmax;
      }
      .dyc h1{
        font-size: 2vmax;
        /* margin-left: 1vmax; */
        line-height: 2.2vmax;
        font-weight: 300;
        font-family: 'Charm', cursive;
    }

    .dyc p{
        font-size: 2vmax;
        margin-left: 1vmax;
        font-family: 'Charm', cursive;
    }
    }




/* ===============page 11 end============== */

.page12{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-repeat: no-repeat;
    /* background-color: red; */
    /* background-color: rgb(244, 235, 218); */
}

.go{
    width: 100%;
    height: 30%;
    /* background-color: saddlebrown; */
}

.go h1{
    font-family: 'Charm', cursive;
line-height: 2vmax;
margin-top: 2vmax;
    text-align: center;
    font-size: 4vmax;
    color: rgba(0, 0, 0, 0.821);
}

.go h1 span{
    width: 30%;
    color: rgb(186, 111, 57);
    margin-left: 10vmax;
    margin-top: 2vmax;
    font-size: 3vmax;
padding: 1vmax 0;
    z-index: 999;
    /* background-color: seagreen; */
}



.mid{
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #B99B6B;
}

.page12 span button{
    padding: 0.5vmax 3vmax;
    color: white;
    margin-top: -1vmax;
    background-color: rgb(121, 77, 27);
}

.mid img{
    width: 7%;
    height: 180%;
    z-index: 99;
    margin-left: -6vmax;
    
}

@media (max-width:600px){
    .page12{
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-color: red;
        background-color: rgb(244, 235, 218);
    }

    .mid{
        width: 95%;
        height: 18%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #B99B6B;
        /* background-color: aqua; */
    }

    .mid p{
        font-size: 1.5vmax;
    }

    .mid img{
        width: 7%;
        height: 180%;
        z-index: 99;
        margin-left: 1vmax;
        
    }
}

/* ===========page 12 end ================= */

.page13{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    background-color: rgb(244, 235, 218);
}

.command{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.command h1{
    font-size: 2vmax;
    line-height: 2.5vmax;
    text-align: center;
    font-family: 'Henny Penny', cursive;

}

.command h1 span{
    font-size: 1vmax;
}

@media (max-width:600px){
    .page13{
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        /* background-color: saddlebrown; */
        background-color: rgb(244, 235, 218);
    }

    .command h1{
        font-size: 1.5vmax;
        line-height: 2.5vmax;
        text-align: center;
        font-family: 'Henny Penny', cursive;
    
    }
}

/* ======== page13 end ============== */

.page14{
width: 100%;
height: 40%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
background-color: rgb(244, 235, 218);
}

.box1{
    width: 30%;
    height: 12%;
    /* background-color: salmon; */
    font-family: 'Dancing Script', cursive;
/* font-family: 'Ysabeau Infant', sans-serif; */
}

.box1{
    text-align: center;
    font-size: 1vmax;
    color: rgba(0, 0, 0, 0.663);
}

.box1 h1 span a{
  color: rgba(0, 0, 0, 0.663);
    text-decoration: none;
}

.box1 h1 span a:hover{
    color: rgb(228, 24, 24);
    cursor: pointer;
    text-decoration: line-through;
}

.box2{
    width: 100%;
    height: 30%;
    padding: 0 10px;
display: flex;
justify-content: space-between;
    /* background-color: steelblue; */
}

.bpic{
    width: 6%;
    height: 100%;
    border: 1px solid black;
    background-color: red;
}

.bpic img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media (max-width:600px){
    .page14{
        width: 100%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: saddlebrown; */
        /* background-color: rgb(244, 235, 218); */
        }

        .box1{
            width: 40%;
            height: 12%;
            /* margin-bottom: 15vmax; */
            /* background-color: salmon; */
            font-family: 'Dancing Script', cursive;
        }

        .box2{
            width: 100%;
            height: 40%;
            padding: 10px;

           flex-wrap: wrap;
           margin-bottom: 18vmax;
            /* background-color: steelblue; */
        }

        .bpic{
            width: 20%;
            height: 70%;
            display: inline-block;
            overflow: hidden;
            border: 1px solid black;
            background-color: red;
        }

        .bpic img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .box1 h1 span a{
            font-size: 2.5vmax;
            color: rgba(0, 0, 0, 0.663);
              text-decoration: none;
          }
          
          .box1 h1 span a:hover{
              color: rgb(228, 24, 24);
              cursor: pointer;
              text-decoration: line-through;
          }
}


/* =============page 14 end=================== */

.page15{
    width: 100%;
    height: 70%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
/* background-color: seagreen; */
background-color: rgb(244, 235, 218);

}

.fb{
    width: 30%;
    height: 12%;
    /* background-color: salmon; */
    font-family: 'Dancing Script', cursive;
}

.fb-upload{
    width: 100%;
    height: 60%;
    padding: 0 10px;
display: flex;
justify-content: space-between;
    /* background-color: steelblue; */
}

.works{
    width: 15%;
    height: 100%;
    border: 1px solid black;
    background-color: #c4916b;
}

.fb h1{
    color: rgba(0, 0, 0, 0.663);
    text-align: center;
    /* opacity: .7; */
}

.fb h1 span a{
color: rgba(0, 0, 0, 0.663);
    text-decoration: none;
}

.fb h1 span a:hover{
    color: royalblue;
    cursor: pointer;
    text-decoration: line-through;
}

.works img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box3{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ysabeau Infant', sans-serif;
    /* background-color: violet; */
}

.box3 p{
    font-size: 0.6vmax;
}

.box3 span button{
    padding: 0.3vmax 0.7vmax;
    background-color: transparent;
    border-radius: 20px;
}

@media (max-width:600px){
    .page15{
        width: 100%;
        height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: seagreen; */
    background-color: rgb(244, 235, 218);
    }

    .fb{
        width: 50%;
        height: 10%;
        margin-top: 1vmax;
        /* background-color: salmon; */
        font-family: 'Dancing Script', cursive;
    }

    .fb h1{
        font-size: 2.5vmax;
    }

    .fb-upload{
        width: 100%;
        height: 80%;
        padding: 0 8px;
    flex-wrap: wrap;
        /* background-color: steelblue; */
    }

    .works{
        width: 28%;
        height: 40%;
        border: 1px solid black;
        background-color: #c4916b;
    }

    .box3{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2vmax;
        font-family: 'Ysabeau Infant', sans-serif;
        /* background-color: violet; */
    }

    .box3 p{
        font-size: 1.3vmax;
        text-align: center;
        width: 45%;
        height: 50%;
        /* background-color: saddlebrown; */
    }
    
    .box3 span button{
        padding: 0.4vmax 0.5vmax;
        background-color: transparent;
        border-radius: 20px;
    }
}

/* =========page15 end============= */

.page16{
width: 100%;
height: 40%;
display: flex;
align-items: center;
justify-content: space-around;
}

/* -----------------page16 end-------------------- */

@media (max-width:600px){
    .page16{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* background-color: rebeccapurple; */
        }

        .page16 h4{
            text-align: center;
        }
}

